{% extends 'base.html.twig' %}

{# {% block title %}Hello AppController!{% endblock %} #}

{% block body %}
<style>
    body { background: lightsalmon; }
    .example-wrapper { margin: 1em auto; width: 95%; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    h1, p { text-align: center; margin: 20px auto; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur mon application de base de données</h1>
    <p>Pour pouvoir accéder à l'application et ainsi intéragir correctement dans les interfaces, vous devez dans un premier temps vous identifier</p>
    <p>Vous pouvez tout de même accéder à l'application sans identification (anonyme), mais votre seule action possible sera de visualiser les pages</p>
    
</div>
{% endblock %}
