{% extends 'base.html.twig' %}

{% block title %}New Borrower{% endblock %}

{% block body %}
<style>
    label, input { display: block; margin: 15px auto; text-align: center; }
    a { display: block; text-align: center; }
</style>
    <h1>Create new Borrower</h1>

    {{ include('borrower/_form.html.twig') }}

    <a href="{{ path('borrower_index') }}">back to list</a>
{% endblock %}
