{% extends 'base.html.twig' %}

{% block title %}Hello KindController!{% endblock %}

{% block body %}

 <h1>Kind Index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for kind in kinds %}
            <tr>
                <td>{{ kind.id }}</td>
                <td>{{ kind.name }}</td>
                <td>{{ kind.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('book_new') }}">Create new</a> #}

{% endblock %}
