// customize some Bootstrap variables
$primary: darken(#51545e, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

//                  <!-- Style du body -->

body {
    background-color: lightsalmon;
}

//                  <!-- Style de la navbar et des liens -->

.navbar-dark {
    padding: 10px;
    display: flex;
}

a {
    color: $primary;
    text-decoration: none;
}

//                  <!-- Style de la mise en page -->

td {
    height: 50px;
}

//                  <!-- Style du formulaire de login -->

.h3, .btn  {
    padding: 10px 15px;
    text-align: center;
}

#inputEmail, #inputPassword {
    width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.labelEmail, .labelPassword {
    display: block;
    text-align: center;
}

.btn {
    display: block;
    margin: 20px auto;
}

.h1 {
    text-align: center;
}
form {
    margin: auto;
}
