{% extends 'base.html.twig' %}

{% block title %}Edit Borrowing{% endblock %}

{% block body %}
<style>
    h1{ text-align: center; margin: 15px auto}
    label, input { display: block; margin: 15px auto; text-align: center; }
    a { display: block; text-align: center; }
    #borrowing { text-align: center }
</style>
    <h1>Edit Borrowing</h1>

    {{ include('borrowing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('borrowing_index') }}">back to list</a>

    {{ include('borrowing/_delete_form.html.twig') }}
{% endblock %}
