<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> #}
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <li class="nav-item active">
                  <a class="nav-link" href="/author">Auteurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/book">Livres</a>
                </li>
                  <a class="nav-link" href="/borrower">Emprunteurs</a>
                </li>
                </li>
                  <a class="nav-link" href="/borrowing">Emprunts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/kind">Genres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">Utilisateurs</a>
                </li>
                <li class="nav-item">
                  {% if is_granted(['ROLE_ADMIN', 'ROLE_BORROWER']) %}
                  <a class="nav-link" href="/logout">Se déconnecter</a>
                  {% else %}
                  <a class="nav-link" href="/login">Se connecter</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </nav>

        {% block body %}{% endblock %}
    </body>
</html>
